@import "./src/_variables/variables.scss";

.search-settings__button {
  width: 275px;
  height: 50px;
  color: white;
  background-color: $color;
  border: none;
  border-radius: 3px;
  font-weight: bold;
  font-size: 1.5rem;
  font-family: $font;
  cursor: pointer;
}
