$width: 100%;
$color: #e55f64;
$font: "Roboto", sans-serif;

.footer {
  align-items: center;
  display: flex;
  height: 100px;
  width: $width;
  background-color: #414141;
}

.footer__text {
  font-family: $font;
  font-size: 1.7rem;
  color: $color;
  padding-left: 75px;
}
