$color: #e55f64;
$font: "Roboto", sans-serif;

.search {
  width: 80%;
  margin: auto;
}

.search__heading-1 {
  font-size: 1.5rem;
  margin: 0;
  padding-top: 25px;
  padding-bottom: 55px;
  color: $color;
  font-family: $font;
}

.search__heading-2 {
  font-size: 1.5rem;
  padding-bottom: 15px;
  color: white;
  font-family: $font;
}

.search-settings {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  padding-bottom: 50px;
}
