@import "./src/_variables/variables.scss";

.results-body {
  width: 90%;
  margin: auto;
  font-family: $font;
  font-size: 5rem;
}

.results-body-container {
  background-color: #fcfffd;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
