@import "./src/_variables/variables.scss";

.results-sort__text {
  font-size: 1.5rem;
  font-family: $font;
}

.results-sort__link {
  font-size: 1.5rem;
  font-family: $font;
  margin-left: 20px;
  text-decoration: none;
  color: black;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.results-sort__link-active {
  color: $color;
}
